@import url("../shabnam-font/font-face.css");
@import url("./normalize.css");

:root {
  --main-color: hsl(232, 47%, 56%);
  --main-color-accent: hsl(230, 58%, 30%);
  --main-color-lighter: hsl(230, 58%, 60%);

  --text-color: hsl(208, 13%, 45%);
  --text-color-accent: hsl(235, 26%, 35%);

  --background-color: hsl(220, 38%, 97%);
  
  --line-color: hsl(249, 20%, 86%);
}

html {
  font-family: Shabnam, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}